.pagination_row {
	position: relative;
    left: 63%;
    padding-top: 75px;
    padding-bottom: 130px;
	.pagination {
		display: inline-block;
		a {
			color: $color-gray;
			float: left;
			margin-right: 8px;
			padding: 8px 14px;
			text-decoration: none;
			transition: background-color .3s;
			border: 1px solid #ddd;
			&.active {
				background-color: $color-green;
				color: white;
			}
			&:hover:not(.active) {
				background-color: $color-green;
			}
			&::after {
				padding-right: 15px;
			}
		}
		span {
			padding-right: 20px;
			color: $color-gray;
		}
	}
}