.row.setion2_item1
	.stt2_spc
		h5
			span Tin tức nổi bật
		hr
.row.setion2_item1_news
	.row.news
		.col-md-4.news_item1
			img(src='../images/new_1.png')
		.col-md-8.news_item2 
			a(href='../html/detail_new.html')
				p Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách
	.row.news
		.col-md-4.news_item1
			img(src='../images/new_2.png')
		.col-md-8.news_item2 
			a(href='../html/detail_new.html')
				p Những sai lầm nên tránh khi bố trí cây xanh trong nhà
	.row.news
		.col-md-4.news_item1
			img(src='../images/new_3.png')
		.col-md-8.news_item2 
			a(href='../html/detail_new.html')
				p 7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng
	.row.news
		.col-md-4.news_item1
			img(src='../images/new_4.png')
		.col-md-8.news_item2 
			a(href='../html/detail_new.html')
				p Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng
	.row.news
		.col-md-4.news_item1
			img(src='../images/new_5.png')
		.col-md-8.news_item2 
			a(href='../html/detail_new.html')
				p 4 loại cây thích hợp bày trí ở khu vực đại sảnh
.row.setion2_item1
	.stt2_spc
		h5
			span Blog tag
		hr
.row.setion2_item1_news1
	.row.news_1
		a(href='../html/detail_new.html').news_1_item Cây văn phòng
		a(href='../html/detail_new.html').news_1_item Cây phát lộc
	.row.news_1
		a(href='../html/detail_new.html').news_1_item1 Cây xanh
		a(href='../html/detail_new.html').news_1_item1 Cây trang trí
		a(href='../html/detail_new.html').news_1_item1 Cây 
	.row.news_1
		a(href='../html/detail_new.html').news_1_item2 Plants
		a(href='../html/detail_new.html').news_1_item2 Sức khỏe
	.row.news_1
		a(href='../html/detail_new.html').news_1_item3 Quà tặng
		a(href='../html/detail_new.html').news_1_item3 Lưu niệm